<%!
	from teplo500.core import locstr
%>
${layout_top}

      <div>
          <div>
            ${logged_as}
        </div>
          <a class="btn btn-secondary btn-sm" href="${sys_logout_link}" role="button">${locstr("Sign Out")}</a>
      </div>

${layout_bottom}