<?php echo $layout_top?>

<h2><?php echo locstr('Edit Zone')?></h2>

 <div class="alert alert-danger" role="alert" <?php echo $error_msg==''?'style="display:none"' : ''?> >
    <?php echo $error_msg?>
  </div>

<form method="post" action="<?php echo $form_url?>">          
  <div class="form-group">
    <label for="zone_name"><?php echo locstr("Name")?></label>
    <input name="name" class="form-control" id="zone_name" value="<?php echo $name?>">
  </div>
  <button type="submit" class="btn btn-primary" name="save" value="save"><?php echo locstr('Save')?></button>
  <button class="btn btn-secondary" name="cancel" value="cancel"><?php echo locstr('Cancel')?></button>
</form>

<?php echo $layout_bottom?> 