<%!
  from Teplo500.utils import locstr,date_str
  import Teplo500.SalusDevice
%>

<table class="table">
  <thead>
    <tr>
      <th scope="col">        
        <a class="" href="/home/devices/${device.id}/edit">${device.name}</a>            
      </th>
      <th scope="col">${locstr("Curr Temp")}</th>
      <th scope="col">${locstr("Curr Mode")}</th>      
    </tr>
  </thead>
	<tbody>
    % if device.status==Teplo500.SalusDevice.STATUS_OFFLINE:
      <tr><td>
          <div style="color:red">${locstr('Offline')}</div>
      </td></tr>
    % else:
      ${zones_html}
    % endif
	</tbody>
</table>
