<%!
  from teplo500.core import temp_to_str
%>

<tr>
  <td>
    <a class="" href="/home/zones/${zone.id}/edit">${zone.name}</a>
  </td>
  <td>
    <b><div>${temp_to_str(zone.current_temp)}${'🔥' if zone.heating else ''}</div></b>
  </td>
  <td>
  	<a class="" href="/home/zones/${zone.id}/edit_temp">${zone.mode_str()}</a>    
  </td>
</tr>