<%!
  from Teplo500.utils import temp_to_str
%>

<tr>
  <td>
    <a class="" href="index.php?page=home&cmd=edit_zone&zone_id=${zone.id}">${zone.name}</a>
  </td>
  <td>
    <b><div>${temp_to_str(zone.current_temp)}${'🔥' if zone.heating else ''}</div></b>
  </td>
  <td>
  	<a class="" href="index.php?page=home&cmd=edit_zone_temp&zone_id=${zone.id}">${zone.mode_str()}</a>    
  </td>
</tr>