<?php echo $layout_top?>

      <div class="alert alert-danger" role="alert" <?php echo $error_msg==''?'style="display:none"' : ''?> >
        <?php echo $error_msg?>
      </div>

      <div class="alert alert-success" role="alert" <?php echo $ok_msg==''?'style="display:none"' : ''?> >
        <?php echo $ok_msg?>
      </div>
            

      <?php echo $devices_html?>

      <div>      	
      	<small><?php echo time_diff($updated_raw)?><!-- (<?php echo $updated_text?>)--></small>
      </div>
      <div class="dropdown">
      	<a class="btn btn-primary btn-sm btn-lg" role="button" aria-pressed="true" href="<?php echo $home_update_link?>"><?php echo locstr("Update Now")?></a>     
        <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownActionsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><?php echo locstr("Actions")?></a>

          <div class="dropdown-menu" aria-labelledby="dropdownActionsMenu">            
            <a class="dropdown-item" href="<?php echo $home_switch_esm_link?>"><?php echo $home_switch_esm_text?></a>             
          </div>
        </div>

      
      </div>
      <br/>
      <?php echo $chart_html?>


<?php echo $layout_bottom?>      
