<%!
  from Teplo500.utils import locstr,time_diff
%>

${layout_top}

    % if error_msg!='':
      <div class="alert alert-danger" role="alert" style="display:none">
        ${error_msg}
      </div>
    % endif

    % if ok_msg!='':
      <div class="alert alert-success" role="alert" style="display:none" >
        ${ok_msg}
      </div>
    % endif
            

    ${devices_html}

    <div>      	
      <small>${time_diff(updated_raw)}><!-- (${$updated_text?>)--></small>
    </div>
    <div class="dropdown">
      <a class="btn btn-primary btn-sm btn-lg" role="button" aria-pressed="true" href="${home_update_link}>">${locstr("Update Now")}></a>     
      <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownActionsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">${locstr("Actions")}></a>

        <div class="dropdown-menu" aria-labelledby="dropdownActionsMenu">            
          <a class="dropdown-item" href="${home_switch_esm_link}>">${home_switch_esm_text}></a>             
        </div>
      </div>

    
    </div>
    <br/>
    ${chart_html}
${layout_bottom}
