<%!
  from Teplo500.core import locstr,day_str
%>

${layout_top}

<h2>${locstr('Edit Zone')}</h2>

 % if error_msg!='':
 	<div class="alert alert-danger" role="alert" style="display:none" >
    	${error_msg}
  	</div>
 % endif

<form method="post" action="${form_url}">          
  <div class="form-group">
    <label for="zone_name">${locstr("Name")}</label>
    <input name="name" class="form-control" id="zone_name" value="${name}">
  </div>
  <button type="submit" class="btn btn-primary" name="save" value="save">${locstr('Save')}</button>
  <button class="btn btn-secondary" name="cancel" value="cancel">${locstr('Cancel')}</button>
</form>

${layout_bottom}