<%!
  from Teplo500.utils import locstr,day_str,temp_to_str
%>
${layout_top}

<h2>${locstr('Automatic Update/Settings')}</h2>

      <div class="alert alert-danger" role="alert" ${'style="display:none"' if error_msg=='' else ''}>
        ${error_msg}
      </div>
      
 
<form method="post" action="${form_url}">          
  <div class="form-group">
    <label for="device_name">${locstr("Period(secs)")}</label>
    <input name="auto_update" class="form-control" id="auto_update" value="${auto_update}">
  </div>
  <button type="submit" class="btn btn-primary" name="save" value="save">${locstr('Save')}</button>
  <button class="btn btn-secondary" name="cancel" value="cancel">${locstr('Cancel')}</button>
</form>

${layout_bottom}