<?php echo $layout_top?>

	<h5><?php echo locstr("Automatic Update/Settings")?></h5>
      <div>
          <div>
            <?php echo locstr("Interval: {1}",$client->get_auto_update_txt())?>
        </div>
          <a class="btn btn-secondary btn-sm" href="<?php echo $sys_settings_link?>&cmd=edit_auto" role="button"><?php echo locstr("Change/Settings")?></a>
      </div>

<?php echo $layout_bottom?> 